body{
    background-color: #FFD900;
    margin: 0px;
    padding: 0px;
}

.panda{
    position: absolute;
    top: 40%;
    left: 43%;
    height: 120px;
    width: 80px;
    background-color: white;
    border: 5px solid #080E09;
    border-radius: 30%;
}

.face{
    position: relative;
    background-color: white;
    border: 5px solid #080E09;
    height: 90px;
    width: 110px;
    border-radius: 50%;
    bottom: 30px;
    right: 20px;  
}

.ear-1,.ear-r{
    position: relative;
    background-color: #080E09;
    height: 25px;
    width: 40px;
    border-radius: 0px 0px 40px 40px;
}

.ear-1{
    transform: rotate(145deg);
    bottom: 13px;
    right: 8px;
}
.ear-r{
    transform: rotate(-145deg);
    left: 78px;
    bottom: 38px;
}

.eye-1,.eye-r{
    position: relative;
    background-color: #080E09;
    width: 28px;
    height: 33px;
    border-radius: 50%;
}

.eye-1{
    bottom: 30px;
    left: 10px;
    transform: rotate(25deg);
}

.eye-r{
    bottom: 63px;
    left: 72px;
    transform: rotate(-25deg);
}

.eyeball{
    position: relative;
    top: 8px;
    left: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}

.nose{
    position: relative;
    height: 8px;
    width: 15px;
    background-color: #080E09;
    border-radius: 15px;
    bottom: 65px;
    left: 48px;
}

.hand-1,.hand-r{
    position: relative;
    width: 25px;
    height: 43px;
    background-color: #080E09;
    border-radius: 30px;
}

.hand-1{
    transform: rotate(90deg);
    bottom: 28px;
    right: 12px;
    animation: wave 3s infinite;
    transform-origin: top;
    bottom: 28px
}
@keyframes wave{
    50%{
        transform: rotate(120deg);
    }
}

.hand-r{
    transform: rotate(-90deg);
    bottom: 92px;
    left: 89px
}

.leg-1,.leg-r{
    position: relative;
    background-color: #080E09;
    width: 17px;
    height: 25px;
    border-radius: 0px 0px 30px 30px;
}

.leg-1{
    bottom: 65px;
    left: 15px;
}

.leg-r{
    bottom: 90px;
    left: 49px;
}

.shadow{
    position: relative;
    background-color: rgba(0,0,0,0.2);
    height: 30px;
    width: 100px;
    border-radius: 50%;
    bottom: 105px;
    right: 10px;
}




